{{ if or (eq .Kind "taxonomy") (eq .Kind "term") }}
    <meta name="robots" content="noindex, follow">
{{ end }}

{{ $style := resources.Get "css/extended/powertrader.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">

<style>
    .header {
        background: var(--theme);
        border-bottom: 1px solid var(--border);
    }
    .logo strong { color: #00d1b2; margin-left: 5px; }
    .header-description {
        background: var(--code-bg);
        text-align: center;
        padding: 40px 20px;
        border-bottom: 1px solid var(--border);
    }
</style>
